body{
    margin: 10px;
    padding: 20px;
    list-style: 10em;
    background-color: rgb(151, 54, 54);
    margin: 10px;
    width: 10px;
    background-color: #red;
    line-height: 10;
    letter-spacing: 2px;padding: 10px;
}